.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  pointer-events: none;
  margin-right: 16px;      /* Add spacing to the right of the logo */
  opacity: 1;
}


.App-header {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 50px;
  display: flex;
  flex-direction: row;      /* Change to row */
  align-items: center;      /* Vertically center items */
  justify-content: flex-start; /* Align items to the left */
  font-size: calc(10px + 2vmin);
  color: white;
  /* background: transparent; */
}

