.FAQs {
    padding: 5vmin;
    background-color: rgba(20, 19, 18, 0.9);
    color: white
}

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Offside&display=swap');

.faq-question {
    cursor: pointer;
}