.FAQs {
    padding: 5vmin;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(20, 19, 18, 0.9);
    color: white
}

.faq-question {
    cursor: pointer;
}