.photos {
    padding: 5vmin;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #131313;
    color: white;
    overflow: visible; /* <-- allow shadow to overflow */
}


.photo-title {
  font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vmin;
    background-image: linear-gradient(0.25turn,#ffffff, #DDDDDD);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;        /* Add this for Safari/Chrome */
    -webkit-text-fill-color: transparent; /* Add this for Safari/Chrome */
    position: relative;
    z-index: 1;
    /* top: 0.3em; */
    line-height: 1;
}

.photo-wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.photo-row {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  padding: 2vw 0;
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
  overflow-y: visible;
  pointer-events: none;
}
.photo-row::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.photo-img {
  max-width: 60vw;
  max-height: 40vh;
  border-radius: 1vw; /* rounded corners */
  box-shadow: 0 0 20px #0008;
  /* drop-shadow will follow the border-radius */
}

.photo-img:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
  filter: drop-shadow(0 0 0.5vh #E4A039);
  /* overflow: visible; */
}

.photo-arrow {
  background: none;
  border: none;
  color: white;
  font-size: 3vw;
  cursor: pointer;
  user-select: none;
  padding: 0 1vw;
  transition: color 0.2s;
}
.photo-arrow:hover {
  color: #e2aa39;
}